body {
  margin: 0;
  padding: 0;
}

.box-area{
  display: flex;
  flex-direction: column;
  width:auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.login-container {
    background-color:#d1d1e9 ;
    border-radius: 8px;
    padding: 40px;
    max-width: 300px;
    width: 110%;
    text-align: center;
    margin: 0 auto;
  }

.logo {
    position: absolute;
    top: 10px; 
    left: 10px; 
}
.logo img{
    border-radius: 50%;
}

  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 5px;
  }
  
  
  .paragraph {
    color: #031f3d;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    background: white;
    border: 1px solid #0d0c0c;
    padding: 15px 23px;
    font-size: 16px;
    
    border-radius: 8px;
    color: #1c1b1b;
    width: 90%;
     }
  
  .input-group input:focus {
    border-color: #614dbd;
    outline: none;
  }
  header{
    font-size: xx-large;
    height: 100px;
    color: aliceblue;
    margin-top: 90px;
    padding: 50px;
    text-align: center;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px;
   transition: color 100ms 50ms;
  }

  header:hover{
    color:  #9c90dc;
  }
  button {
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #403885;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #9c90dc;
    color: #422f6d;
  }
  
  .bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #031f3d;
    font-size: 15px;
    font-weight: 400;
  }
  
  .bottom-text a {
    color: #043f7d;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .bottom-text a:hover {
    color: #031f3d;
  }
